@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <p>Learn about <a href="https://Google.com">Shearch Engine</a>.</p>
    <p>Learn about <a href="https://Github.com">GitHub</a>.</p>
   <br />
</div>

<div class="text-md-end">
    <h1 class="display-4">My Contacts</h1>
    <br />
    <p>Learn about <a href="https://Google.com">Shearch Engine</a>.</p>
    <p>Learn about <a href="https://Github.com">GitHub</a>.</p>
   <br />
</div>
